@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
html{
    background: linear-gradient(rgb(140, 221, 223), #6EC4C6);
    font-family: Patrick Hand;
    font-size: 1.5em;
    transition: 1s;
}
div#header{
    display: block;
    float: center;
    width: 90%;
    background: #FFF6BD;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    transition: 1s;
}
div#header img{
    display: block;
    width: 75%;
    margin: 0px;
}
section#stuffInside{
    display: table;
    width: 100%;
    float: left;
}
section#stuffInside a{
    float: left;
    width: 20%;
    text-align: center;
    display: table-cell;
    text-decoration: none;
}
section#stuffInside > a > h2{
    padding-top: 5%;
}
div#header::after{
    clear: both;
    display: block;
    content: "";
}
article{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 2%;
    padding-left: 5%;
}
section#side{
    grid-template-rows: 0.5fr 1fr;
    background-color: #F395A5;
    margin-right: 13%;
    transition: 1s;
}
article img{
    display: block;
    width: 80%;
    padding-left: 8%;
}
section#side h1{
    color: #E6CCA5;
    text-shadow: #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px,  #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px,  #31FFE0 0px 0px 5px;
    text-align: center;
    transition: 1s;
}
section#side p{
    color: #E6CCA5;
    text-shadow: #31FFE0 1px 1px 2px, #31FFE0 1px 1px 2px, #31FFE0 1px 1px 2px;
    text-align: center;
    transition: 1s;
}
#backImg{
    background: url("back.jpg");
    background-size: cover;
    padding-right: 20%;
}
div#header{
    color: #E6CCA5;
    text-shadow: #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px,  #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px,  #31FFE0 0px 0px 5px;
    text-align: center;
    transition: 1s;
}
a:link{
    color: #F395A5;
    text-shadow: #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px,  #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px,  #E6CCA5 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
a:visited{
    color: #F395A5;
    text-shadow: #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px,  #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px,  #E6CCA5 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
a:hover{
    color: #31FFE0;
    text-shadow: #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px,  #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px,  #F395A5 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}
a:active{
    color: #31FFE0;
    text-shadow: #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px,  #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px,  #F395A5 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}
div#endAlmost{
    color: #E6CCA5;
    text-shadow: #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px,  #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px, #31FFE0 0px 0px 5px,  #31FFE0 0px 0px 5px;
    text-align: center;
    transition: 1s;
}
div#endAlmost a{
    margin: 0%;
    font-size: 2em;
}
section#buttons{
    text-align: center;
}
button{
    color: #F395A5;
    text-shadow: #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px,  #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px, #E6CCA5 0px 0px 5px,  #E6CCA5 0px 0px 5px;
    margin: 1%;
    padding: 2%;
    background-color: #31FFE0;
    border-radius: 15%;
    border: #FFF6BD outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 1s;
}
button:hover{
    color: #31FFE0;
    text-shadow: #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px,  #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px, #F395A5 0px 0px 5px,  #F395A5 0px 0px 5px;
    margin: 1%;
    padding: 2%;
    background-color: #FFF6BD;
    border-radius: 15%;
    border: #E6CCA5 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
}