@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

html{
    font-family: Patrick Hand;
    font-size: 2.5em;
    text-align: center;
}
body{
    background: #17344b;
    padding-top: 10%;
}
body a:link{
    color: #095B93;
    text-shadow: #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
body a:visited{
    color: #095B93;
    text-shadow: #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
body a:hover{
    color: #489AC2;
    text-shadow: #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.5em;
    cursor: pointer;
}
body a:active{
    color: #489AC2;
    text-shadow: #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.5em;
    cursor: pointer;
}