@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
html{
    background: linear-gradient(#17344b, #242834);
    font-family: Patrick Hand;
    font-size: 1.5em;
}
div#header{
    display: block;
    float: center;
    width: 90%;
    background: #C4B0A9;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    transition: 10s;
    transform: translate(0%, -200%);
}
div#header img{
    display: block;
    width: 75%;
    margin: 0px;
}
section#stuffInside{
    display: table;
    width: 100%;
    float: left;
}
section#stuffInside a{
    float: left;
    width: 20%;
    text-align: center;
    display: table-cell;
    text-decoration: none;
}
section#stuffInside > a > h2{
    padding-top: 5%;
}
div#header::after{
    clear: both;
    display: block;
    content: "";
}
article{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 2%;
    padding-left: 5%;
}
section#side{
    grid-template-rows: 0.5fr 1fr;
    background-color: #095B93;
    margin-right: 13%;
    transition: 10s;
    transform: translate(200%, 0%) rotate(800deg);
}
article img{
    display: block;
    width: 80%;
    padding-left: 8%;
}
section#side h1{
    color: #FFCC57;
    text-shadow: #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px;
    text-align: center;
}
section#side p{
    color: #FFCC57;
    text-shadow: #489AC2 1px 1px 2px, #489AC2 1px 1px 2px, #489AC2 1px 1px 2px;
    text-align: center;
}
#backImg{
    background: url("back.jpg");
    background-size: cover;
    padding-right: 20%;
    transition: 10s;
    transform: translate(-200%, 0%) rotate(-800deg);
}

div#header{
    color: #FFCC57;
    text-shadow: #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px;
    text-align: center;
}
a:link{
    color: #095B93;
    text-shadow: #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px;
    text-align: center;
    text-decoration: none;
}
a:visited{
    color: #095B93;
    text-shadow: #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px;
    text-align: center;
    text-decoration: none;
}
a:hover{
    color: #489AC2;
    text-shadow: #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}
a:active{
    color: #489AC2;
    text-shadow: #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}
div#endAlmost{
    color: #FFCC57;
    text-shadow: #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px;
    text-align: center;
}
div#endAlmost a{
    margin: 0%;
    font-size: 2em;
}
section#buttons{
    text-align: center;
}
button{
    color: #095B93;
    text-shadow: #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px, #FFCC57 0px 0px 5px,  #FFCC57 0px 0px 5px;
    margin: 1%;
    padding: 2%;
    background-color: #489AC2;
    border-radius: 15%;
    border: #C4B0A9 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    margin-bottom: 5%;
}
button:hover{
    color: #489AC2;
    text-shadow: #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px, #095B93 0px 0px 5px,  #095B93 0px 0px 5px;
    margin: 1%;
    padding: 2%;
    background-color: #C4B0A9;
    border-radius: 15%;
    border: #FFCC57 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
}
