@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
html{
    background: linear-gradient(rgb(236, 157, 111), #D58A60);
    font-family: Patrick Hand;
    font-size: 1.5em;
    transition: 1s;
}
div#header{
    display: block;
    float: center;
    width: 90%;
    background: #548F01;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    transition: 1s;
}
div#header img{
    display: block;
    width: 75%;
    margin: 0px;
}
section#stuffInside{
    display: table;
    width: 100%;
    float: left;
}
section#stuffInside a{
    float: left;
    width: 20%;
    text-align: center;
    display: table-cell;
    text-decoration: none;
}
section#stuffInside > a > h2{
    padding-top: 5%;
}
div#header::after{
    clear: both;
    display: block;
    content: "";
}
article{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 2%;
    padding-left: 5%;
}
section#side{
    grid-template-rows: 0.5fr 1fr;
    background-color: #40663F;
    margin-right: 13%;
    transition: 1s;
}
article img{
    display: block;
    width: 80%;
    padding-left: 8%;
}
section#side h1{
    color: #D457CF;
    text-shadow: #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px,  #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px,  #497381 0px 0px 5px;
    text-align: center;
    transition: 1s;
}
section#side p{
    color: #D457CF;
    text-shadow: #497381 1px 1px 2px, #497381 1px 1px 2px, #497381 1px 1px 2px;
    text-align: center;
    transition: 1s;
}
#backImg{
    background: url("back.jpg");
    background-size: cover;
    padding-right: 20%;
}
div#header{
    color: #D457CF;
    text-shadow: #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px,  #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px,  #497381 0px 0px 5px;
    text-align: center;
    transition: 1s;
}
a:link{
    color: #40663F;
    text-shadow: #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px,  #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px,  #D457CF 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
a:visited{
    color: #40663F;
    text-shadow: #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px,  #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px,  #D457CF 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
a:hover{
    color: #497381;
    text-shadow: #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px,  #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px,  #40663F 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}
a:active{
    color: #497381;
    text-shadow: #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px,  #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px,  #40663F 0px 0px 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}
div#endAlmost{
    color: #D457CF;
    text-shadow: #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px,  #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px, #497381 0px 0px 5px,  #497381 0px 0px 5px;
    text-align: center;
    transition: 1s;
}
div#endAlmost a{
    margin: 0%;
    font-size: 2em;
}
section#buttons{
    text-align: center;
}
button{
    color: #40663F;
    text-shadow: #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px,  #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px, #D457CF 0px 0px 5px,  #D457CF 0px 0px 5px;
    margin: 1%;
    padding: 2%;
    background-color: #497381;
    border-radius: 15%;
    border: #548F01 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 1s;
}
button:hover{
    color: #497381;
    text-shadow: #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px,  #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px, #40663F 0px 0px 5px,  #40663F 0px 0px 5px;
    margin: 1%;
    padding: 2%;
    background-color: #548F01;
    border-radius: 15%;
    border: #D457CF outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
}
div.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
}
div.p1, div.p2, div.p3{
    padding: 5px;
}
div.p1{
    background-color: lightgray;
    border: #FFCC57 solid 2px;
    border-radius: 5px;
    margin: 10px;
} 
div.p2{
    background-color: lightgray;
    border: #FFCC57 solid 2px;
    border-radius: 5px;
    margin: 10px;
}
div.p3{
    background-color: lightgray;
    border: #FFCC57 solid 2px;
    border-radius: 5px;
    margin: 10px;
}
section#side{
    border-radius: 5px;
    border: #C4B0A9 outset 15px;
}
fieldset.custInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
form{
    color: #FFCC57;
    text-shadow: #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px;
    background-color: #489AC2;
    border-radius: 5px;
    margin: 5px;
    margin-right: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: #C4B0A9 outset 15px;
}
div.formRow{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 7px 0px;
 }
 div.formRow > *{
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
 }
 form{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
 }
 form > fieldset{
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    font-size: .85em;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #095B93;
 }
 legend{
    color: #FFCC57;
    text-shadow: #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px, #489AC2 0px 0px 5px,  #489AC2 0px 0px 5px;
    padding: 5px;
    background-color: #FFCC57;
    border-radius: 20px;
 }
 textarea{
    margin-top: 10px;
    height: 100px;
    width: 95%;
    resize: none;
 }
 div.formRow > input#dineSpin{
    -webkit-flex: 0 0 50px;
    flex: 0 0 50px;
 }
 div#buttons{
    text-align: center;
    width: 100%;
 }
 input:focus, select:focus, textarea:focus{
    background-color: rgb(220, 255, 220);
 }
 input#name:focus:valid, input#zip:focus:valid, input#phone:focus:valid, input#mail:focus:valid, input#city:focus:valid, input#country:focus:valid,  input#address:focus:valid,
 input#cvv:focus:valid, input#card:focus:valid, input#date:focus:valid{
    background: rgb(220, 255, 220) url(rb_valid.png) bottom right / contain no-repeat
 }
 input#name:focus:invalid, input#zip:focus:invalid, input#phone:focus:invalid, input#mail:focus:invalid, input#city:focus:invalid, input#country:focus:invalid,  input#address:focus:invalid,
 input#cvv:focus:invalid, input#card:focus:invalid, input#date:focus:invalid{
    background: rgb(255, 232, 233) url(rb_invalid.png) bottom right / contain no-repeat
 }